body {
  font-size: 24px;
}

nav ul {
  display: flex;
/*   justify-content: space-evenly; */

  list-style: none;
  padding-left: 0;
}

nav ul > * {
  flex: auto;
}

li {
  border: 1px solid rebeccapurple;
}

a {
  display: block;
  padding: 1em;
  background-color: papayawhip;
  text-decoration: none;
  text-align: center;
}

a, a:visited {
  color: rebeccapurple;
}

a:hover {
  color: white;
  background-color: rebeccapurple;
}

