@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);


body {
  font-family: "Lato", sans-serif;
  max-width: 90%;
  margin: 0 auto;
  font-size: calc(1rem + 0.25vh);
}

h1 {
    font-family: "Sansita One", serif;
    font-size: 2rem;
    margin-bottom: 1vh;
}

p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

a {
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}
a:hover, a:focus {
  border-bottom: 3px solid currentColor;
}

section {
  max-width: 68%;
  margin: 0 auto;
}

.post-meta {
  font-size: 1rem;
  font-style: italic;
  display: block;
  margin-bottom: 4vh;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}
